include README.md
include requirements.txt
graft squeaknode/admin/webapp/templates
graft squeaknode/admin/webapp/static
include squeaknode/db/alembic.ini
graft squeaknode/db/alembic
include squeaknode/admin/icon.png
