
.peers-header-wrapper{
    position: sticky;
    border-bottom: 1px solid rgb(230, 236, 240);
    border-left: 1px solid rgb(230, 236, 240);
    background-color: #fff;
    z-index: 8;
    top: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 53px;
    min-height: 53px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.peers-header-content{
    display: flex;
    flex-direction: column;
}

.peers-header-name{
    font-weight: 800;
    font-size: 19px;
}


.enable-btn-wrap{
    min-height: 30px;
    min-width: 70px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid #1da1f2;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    &:hover{
        background-color: rgba(29, 161, 242, 0.1);
    }
}

.enable-btn-wrap span{
    text-align: center;
    font-weight: 800;
    color: #1da1f2;
    width: 100%;
}

.disable-switch{
    background-color: rgb(29, 161, 242);
    span{color: #fff !important;}
}

.disable-switch:hover{
    background-color: rgb(202,32,85) !important;
    border: 1px solid transparent;
    span{
        color: #fff;
        span{display: none;}
        &:before{
            content: 'Disable';
        }
    }
}


.float-container {
  display: flex; /* ADDED */
  align-items: center; /* ADDED */
  width: 100%;
}

.float-child {
  position: relative;
  float: left;
  width: 730px;
}
