{% extends "base" %}
{% block body %}

<h3>About</h3>

<b>Market Name</b>: {{ admin_settings.market_name }}
<br>

<b>Seller Fee rate</b>: {{ admin_settings.fee_rate_basis_points / 100 }}% of each sale
<br>

{% if admin_settings.squeaknode_pubkey %}
<b>Squeaknode Pubkey</b>: {{ admin_settings.squeaknode_pubkey }}
<br>
{% endif %}

{% if admin_settings.squeaknode_address %}
<b>Squeaknode Address</b>: {{ admin_settings.squeaknode_address }}
<br>
{% endif %}

{% endblock body %}
