{% extends "base" %}
{% block body %}

<h3>My Account</h3>

Username: {{ user.email }}.

<br>
<a href="my_active_listings">My Active Listings</a>

<br>
<a href="my_unsubmitted_listings">My Unsubmitted :istings</a>

<br>
<a href="my_pending_listings">My pPending Listings</a>

<br>
<a href="my_rejected_listings">My Rejected Listings</a>

<br>

{% endblock body %}
