{% extends "base" %}
{% block body %}

<h3>Admin</h3>

Username: {{ user.email }}.

<br>
<a href="market_liabilities">Show market liabilities</a>

<br>
<a href="show_all_users">Show all users</a>

<br>
<a href="/update_market_name">Update Market Name</a>

<br>
<a href="/update_squeaknode_info">Update Squeaknode Info</a>

<br>
<a href="/update_fee_rate">Update Fee Rate</a>

<br>
<a href="/review_pending_listings">Review Pending Listings</a>

<br>

{% endblock body %}
