<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="/css/fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/skeleton.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.ico">

    <style>
      html, body {
	  height: 100%;
      }

      .table-container {
	  display: table;
	  height: 100%;
	  width: 100%;
      }

      .table-block {
	  display: table-row;
	  height: 1px;
      }

      .footer-push {
	  height: auto;
      }

      #footer {
	  /* Placeholder footer styles */
	  text-align: center;
      }

    </style>

    <title>{{ base_context.admin_settings.market_name }} - Squeak Road</title>
</head>

<body>

  <div class="table-container">
    <div class="table-block footer-push">

      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">{{ base_context.admin_settings.market_name }}</a>
          <div>
            <a class="navbar-brand" href="/about">About</a>
            <a class="navbar-brand" href="/top_sellers">Top Sellers</a>
            {% if base_context.user %}
            {% if base_context.admin_user %}
            <a class="navbar-brand" href="/review_pending_listings">Pending Listings{% if base_context.admin_info %} ({{ base_context.admin_info.num_pending_listings }}){% endif %}</a>
            <a class="navbar-brand" href="/admin">Admin</a>
            {% else %}
            Welcome, <a class="navbar-brand" href="/user/{{ base_context.user.email }}">{{ base_context.user.email }}</a>
            <a class="navbar-brand" href="/my_processing_orders">Orders{% if base_context.account_info %} ({{ base_context.account_info.num_unshipped_orders }}){% endif %}</a>
            <a class="navbar-brand" href="/account">Account{% if base_context.account_info %} ({{ base_context.account_info.account_balance_sat }} sats){% endif %}</a>
            {% endif %}
            {% endif %}
            {% if not base_context.user %}
            <a class="navbar-brand" href="/login">Login</a>
            <a class="navbar-brand" href="/signup">Sign up</a>
            {% else %}
            <a class="navbar-brand" href="/logout">Log out</a>
            {% endif %}
          </div>
      </nav>

      <div style="text-align: center;">
        <br>

        {% block body %}
        {% endblock body %}
      </div>

    </div> <!-- end primary div.table-block -->


    <div class="table-block">
      <!-- Page Footer Layout
           –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="container">
        <footer id="footer" class="twelve columns">
          Powered by <a href="https://github.com/yzernik/squeakroad" rel="noreferrer noopener" target="_blank">Squeak Road</a> Have questions? Join us on <a href="https://t.me/squeakroad" rel="noreferrer noopener" target="_blank">Telegram</a>
        </footer>
      </div> <!-- end footer div.container -->
    </div>  <!-- end footer div.table-block -->
  </div>

</body>

</html>
