{% extends "base" %}
{% block body %}

  <div class="container">
    <p><!--Nothing to see here --></p>

    {% if listing %}
    <h3>{{ listing.title }}</h3>
    <p>{{ listing.description }}</p>
    {% endif %}

  </div>


{% endblock body %}
