{% extends "base" %}
{% block body %}

<br>

  <div class="container">
    <p><!--Nothing to see here --></p>

    <div class="row">

      <h3>My Processing Orders</h3>
      <p>Orders you have received that you have not yet shipped</p>

      <div class="twelve columns">
	{% include "ordercardpage" %}
      </div>
    </div>
  </div>


{% endblock body %}
