{% extends "base" %}
{% block body %}

<br>

  <div class="container">
    <p><!--Nothing to see here --></p>

    <div class="row">

      <h3>User: {{ visited_user.username }}</h3>

      <p><b>User rating</b>: {{ weighted_average_rating | round(method="ceil", precision=2) }} <a href="/seller_rating/{{ visited_user.username }}">(See rating)</a></p>

      <div class="twelve columns">
	{% include "listingcardpage" %}
      </div>
    </div>
  </div>


{% endblock body %}
