{% extends "base" %}
{% block body %}


<div class="container">
  <p><!--Nothing to see here --></p>

  <div class="row">


    {% if flash %}
    <small class="field-{{flash.0}}-msg">
      {{ flash.1 }}
    </small>
    {% endif %}

    <h3>Withdrawal</h3>

    <p>Withdrawal id: {{ withdrawal.public_id }}</p>
    <p>Invoice hash: {{ withdrawal.invoice_hash }} sats</p>
    <p>Amount: {{ withdrawal.amount_sat }} sats</p>

  </div>
</div>


{% endblock body %}
